body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.view {
    transition: opacity 0.3s ease-in-out;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

/* Custom styles for goal selection */
.selected-goal {
    border-color: #18181b !important;
    background-color: #18181b !important;
    color: white !important;
}

.selected-goal span {
    color: white !important;
}

/* Input read-only state */
input:read-only {
    background-color: #f4f4f5; 
    color: #71717a;
    cursor: not-allowed;
}